# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
venv2/
.coverage
package-lock.json
node_modules/
.DS_Store
.idea/
__pycache__/

.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb
.DS_Store
venv2/
node_modules/
