.my-content-landing {
	float: left;
	text-align: center;
	width: 100% !important;
	height: 80% !important;
	/* background: -webkit-linear-gradient(to right, rgb(124, 124, 124), rgb(218, 218, 218), rgb(124, 124, 124));
	background: linear-gradient(to right, rgb(124, 124, 124), rgb(218, 218, 218), rgb(124, 124, 124)); */	
	background-image: -webkit-linear-gradient(top, #e7e7e7 0, #d6d6d6 100%);
  }

	.landing-search-form {
		position: relative;
		width: 100%;
	}

		.landing-search-form-div {
			margin-left: 25%;
			width: 50%;
		}

			.landing-search-box {
				float: left;
				width: 90%;
				font-size:28pt;
				border-top-left-radius: 10pt;
				border-bottom-left-radius: 10pt;
			}

				.landing-search-box:focus {
					border-color: #72aefd !important;
					outline: #72aefd auto 3px !important;
					border-top-left-radius: 10pt;
					border-bottom-left-radius: 10pt;
				}

			.landing-search-button {
				position: relative;
				float: left;
				width: 10%;
				height: 61px;
				background-color: #4494ff !important;
				border-color: #005fc4 !important;
				border: 1px solid transparent !important;
				border-top-right-radius: 10pt !important;
				border-bottom-right-radius: 10pt !important;
				border-bottom-left-radius: 0pt !important;
				border-top-left-radius: 0pt !important;
			}

				.landing-search-button .landing-search-button-font {
					color: #005fc4 !important;
				}

				.landing-search-button:hover {    
					background-color: #005fc4 !important;
					border-color: #4494ff !important;
					border-top-right-radius: 10pt !important;
					border-bottom-right-radius: 10pt !important;
					border-bottom-left-radius: 0pt !important;
					border-top-left-radius: 0pt !important;
				}

					.landing-search-button:hover .landing-search-button-font {    
						color: #4494ff !important;
					}

		.landing-suggestions-table {
			position: relative;
			margin-left: 25%;
			width: 45%;
			text-align: left;
			background-color: #292c2f;
			background: linear-gradient(to bottom, #b8d6fd, #94c0fa);
			color: #005fc4;
			opacity: 0.9;
		}

			.landing-suggestions-table-data {
				margin-top: 1%;
				margin-bottom: 1%;
				width: 100%;
				padding-left: 1%;
			}

				.landing-suggestions-table-data:hover {
					background-color: #4494ff;
				}

.profile-content {
	float: left;
	text-align: center;
	width: 100% !important;
	height: 80% !important;
	background-image: -webkit-linear-gradient(top, #e7e7e7 0, #d6d6d6 100%);
}

@media (min-width: 1200px) {
	.container {
		max-width: 50% !important;
	}
	.my-content-landing {
		max-width: 100% !important;
	}
	.profile-content{
		max-width: 100% !important;
	}
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	width: 100%;
	height: 10%;
	text-align: left;
	font: normal 16px sans-serif;
	float: left;
	padding: 2% 3%;
	position: relative;
	z-index: 10 !important;

	/* padding: 20px 50px;
	position: fixed;
	left:0px;
	bottom:0px; */
}

.footer-distributed .footer-left p{
	color:  #005fc4;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color: #4494ff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	/* margin-top: 6px;
	max-width: 180px; */
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;


	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.footer-distributed .footer-right a:hover {	
	background-color:  #5d5e5f;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}


/* Landing Page */
.form-control {
    font-size: 2rem;
}

#invalidUsernamePwdFeedback, #invalidNewPassword, #invalidCurrentPassword{
    font-size: larger;
}