.course_compare{
    background-image: -webkit-linear-gradient(top,#f7f7f7 0,#e5e5e5 100%);
}

.add-to-compare-button{
    float: right;
    border-radius: 8px;
    border: transparent;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
}

.compare-button{
    border-radius: 12px;
    border: transparent;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 28px;
    position: relative;
    z-index: 1;
}

.compare-number{
    margin-right: 30%;
    border-radius: 12px;
    border: transparent;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 28px;
    position: relative;
    z-index: 1;
}

.compare-button:active, .compare-button:focus, .compare-button:hover {
    background-color: #007bff !important;
    box-shadow: none !important;
    outline: none !important;
}
.compare-number:active, .compare-number:focus, .compare-number:hover {
    background-color: #17a2b8 !important;
    box-shadow: none !important;
    outline: none !important;
}



.compare-list-model-header{
    background-color: #e6e6e6;
    border-bottom: 1px solid #cbcbcb;
    color: inherit;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.compare-list-model-body{
    background-color: white;
    color: black;
    font-size: 14px;
}

.modal-course-image {
    max-width: 100px;
    max-height: 100px;
}


.search-course-modal-link a{
    font-weight: bold;
    color: rgb(82, 85, 177);
}

    .search-course-modal-link a:hover{
        font-weight: bold;
        text-decoration: none;
        color: rgb(118, 120, 229);
    }

.remove-course-modal-button{
    background-color: #9c9c9c;
    color: white;
    text-decoration: none;
}

.remove-course-modal-button:hover{
    color: white;
    text-decoration: none;
    background-color: #1d2124;
}


.compare-list-model-footer{
    background-color: #e9e9e9;
}

.compare-main-table{
    padding-top: 6%;
}
    .compare-table-heading{
        border-radius: 10px;
        width: 100%;
        text-align: center;
        margin-right: 10%;
        color: white;
    }

    .compare-table-row{
        margin-left: 10%;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 10px;
        color: black;
        width: 80%;
        background-color: white;
    }

    .compare-table-row-heading{
        float: right;
        background-color: white;
        color: #005cbf;
    }

    .compare-table-col{
        text-align: center;
        background-color: white;
        border-radius: 5px;
        margin-left: 1px;
        border: 1px solid #ededed;
    }

    .compare-table-course-image{
        border: 3px solid grey;
        display: inline-block;
        margin-top: 5%;
        margin-left: 10%;
    }

    .compare-table-course-summary{
        display: inline-block;
        color: black;
    }

    .compare-table-course-title{
        margin-top: 10px;
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .compare-table-course-text{
        color: black;
        font-weight: bold;
    }