.pricebox{
  width: 30%;
  height: 40%;
  padding-top: 2%;
  padding-left: 2%;
  box-sizing: border-box;
  border-radius: 4px;
}

.pricerange{
display: inline-block;
padding-right: 5%;
padding-top: 3%;
}
