/*HEADER*/
#homeHeader {
    position: relative;
    width: 100%;
    background-color: #292c2f;
}

    #homeHeader a {        
	    text-decoration: none;
	}	

	.website-name {    
		color: rgb(207, 204, 19);
		text-shadow: 1px 1px rgb(146, 144, 4);
		font-size: 60px;
	}

	.website-name:hover {
		text-shadow: rgb(146, 144, 4) 0px 0px 0.2em, rgb(146, 144, 4) 0px 0px 0.2em, rgb(146, 144, 4) 0px 0px 0.2em;
	}

	.website-logo {
		height: 90%;
	}

	.search-results-search-form {
		float: left !important;
		margin-left: 10%;
		width: 25%;
	}

		.search-results-search-box {
			float: left !important;
			position: relative;
			margin-top: 6%;
			width: 90%;
			font-size:18pt;
		}

			.search-results-search-box:focus {
				border-color: rgb(243, 242, 166) !important;
				outline: rgb(243, 242, 166) auto 3px !important;
			}

		.search-results-search-button {
			float: left !important;
			position: relative;
			margin-top: 6%;
			width: 10%;
			background-color: rgb(241, 239, 108);
			border-color: rgb(124, 123, 30) !important;
			border: 1px solid transparent;
			border-radius: 3px;
		}

			.search-results-search-button .search-results-search-button-font {
				color: rgb(124, 123, 30);
			}

			.search-results-search-button:hover {    
				background-color: rgb(124, 123, 30);
				border-color: rgb(241, 239, 108);
			}

				.search-results-search-button:hover .search-results-search-button-font {    
					color: rgb(241, 239, 108);
				}

		.search-results-suggestions-table {
			position: absolute;
			margin-top: 5%;
			width: 90%;
			text-align: left;
			background-color: #292c2f;
			color: rgb(241, 239, 108);
			opacity: 0.9;
		}

			.search-results-suggestions-table-data {
				margin-top: 1%;
				margin-bottom: 1%;
			}

	#website-navigators-container {
		right: 1%;
		top: 35%;
		width: 29%;
		position: absolute;
		background-color: #292c2f;
	}
	
		.my-nav-tabs {
			/*width: 10%;*/
			background-color: rgb(241, 239, 108);
			color: black;
			border: 1px solid transparent;
			border-color: rgb(124, 123, 30);
			border-radius: 4px;
			margin: auto 1%;
			font-size: 15px;
			float: right;
		}

			.my-nav-tabs:hover {    
				background-color: rgb(124, 123, 30);
				border-color: rgb(241, 239, 108);
			}