.heading {
    color: white;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 11.5%;
    left: 0;
    bottom: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
}

    .sidenav ul{
        padding-left: 0;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            text-decoration: none;
            color: #f1f1f1;
        }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

.profile-content {
    background-color: #f2f3f3;
    float: left;
    padding: 1%;
    text-align: center;
    width: 100% !important;
    height: 80% !important;
}

.nav-item{
    list-style-type: none;
}

.active{
    background-color: #08090b;
}

.profile-edit-card{
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,28,36,0.5);

}

.card-title{
    background-color: #f0f0f0;
    border-bottom: 1px solid #d6d6d6;
    color: inherit;
    text-align: left;
    font-weight: 700;
    font-size: 1.8rem;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile-card-body{
    border-radius: 3px;
}

.profile-form{
    color: inherit;
    font-weight: 700;
    text-align: left;
    font-size: 13px;
    padding: 10px;
}

.profile-form-control {
    height: 35px;
    font-size: small;
}

.profile-form-text-area{
    /*height: 35px;*/
    font-size: small;
}

.password-form-control {
    height: 40px;
    font-size: small;
}

.password-button{
    float: right;
}

.invalid-input{
    font-size: larger;
}

.main-content{
    position:relative;
    width: 98%;
}

.profile-image-card{
    background-color: #4f5356;
    width: 90%;
    height: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,28,36,0.5);
}

.profile-upload{
    padding-top: 10%;
    padding-right: 10px;
}

.profile-picture-button{
    margin: 0 auto;
    width: 80%;
}

#profile_picture{
    margin: 0 auto;
    margin-bottom: 20px;
}

#profile-image{
    border-radius: 100px;
    border: 6px solid lightgrey;
}

#profile-image{
    display: none;
}

#profile-icon{
    display: none;
}

.deactivate-content{
    display: none;
    width: 60%;
    padding-bottom: 20%;
}

.deactivate-card{
    box-shadow: 0 1px 1px 0 rgba(0,28,36,0.5);
}


.courses-content{
    display: none;
    width: 100%;
    padding-bottom: 9%;
}

    .favorites-courses-card{
        box-shadow: 7px 7px 7px 0 rgba(240, 238, 0, 0.8);
    }

    .taking-courses-card{
        box-shadow: 7px 7px 7px 0 rgba(0, 1, 240, 0.8);
    }

    .completed-courses-card{
        box-shadow: 7px 7px 7px 0 rgba(28, 240, 0, 0.8);
    }

    .exchange-sign{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .profile-course-list-item{
        margin-bottom: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-top: 1px solid lightgrey;
        text-align: left;
    }

        .profile-list-course-image{
            max-width: 220px;
            max-height: 200px;
        }

        .profile-list-course-title a, .profile-list-course-title a:hover{
            color: rgb(82, 85, 177);
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
        }

        .profile-list-dropdown-toggle:hover, .profile-list-dropdown-toggle:active{
            height: 10px;
            width: 10px;
            background-color: green;
            color: grey;
            border: 0;
        }