.heading {
    color: white;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 12%;
    left: 0;
    bottom: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
}

.sidenav ul{
    padding-left: 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    text-decoration: none;
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.profile-content {
    background-color: lightgrey;
    float: left;
    padding: 1%;
    text-align: center;
    width: 100% !important;
    height: 80% !important;
}

.nav-item{
    list-style-type: none;
}

.active{
    background-color: #08090b;
}

/*.nav-item a{*/
    /*color: #ddd50c;*/
/*}*/

/*.nav-item a:hover{*/
    /*color: #ddd50c;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*font-size: 20px;*/
/*}*/

.card-title{
    color: #ddd50c;
    text-align: left;
    font-size: x-large;
}

.profile-card-title{
    padding-top: 30px;
    color: #ddd50c;
    text-align: center;
    font-size: x-large;
}

.profile-edit-card{
    background-color: #4f5356;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.profile-card-body{
    border-radius: 3px;
}

.profile-form{
    color: #ddd50c;
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    padding: 10px;
}

.profile-form-control {
    height: 35px;
    font-size: small;
}

.profile-form-text-area{
    /*height: 35px;*/
    font-size: small;
}

.password-form-control {
    height: 40px;
    font-size: small;
}

.password-button{
    float: right;
}

.invalid-input{
    font-size: larger;
}

.main-content{
    position:relative;
    /*z-index:1;*/

}

.profile-image-card{
    padding-left: 10px;
    background-color: #4f5356;
    margin-bottom: 10px;
    width: 90%;
    height: 100%;
}

.profile-upload{
    padding-top: 30%;
    padding-right: 10px;
}

.profile-picture-button{
    margin: 0 auto;
    width: 80%;
}

#profile_picture{
    margin: 0 auto;
    margin-bottom: 20px;
}

#profile-image{
    border-radius: 100px;
    border: 6px solid lightgrey;
}

#profile-image{
    display: none;
}

#profile-icon{
    display: none;
}

.account-delete-button{
    margin-left: 1%;
    width: 20%;
}

.reviews-content{
    display: none;
    width: 100%;
    height: 100%;
}

.courses-content{
    display: none;
    width: 100%;
    height: 100%;
}

.reviews-card{
    background-color: #4f5356;
    color: #ddd50c;

}

.courses-card{
    background-color: #4f5356;
    color: #ddd50c;
}