html {
  background: #02111D;  /* fallback for old browsers */
	background-color: white;
}

  body{
      font-size: 1rem;
      font-weight: 200;
      line-height: 0.8;
  }

    .App {
      text-align: center;
      background-color: #292c2f;
    }

    .container-fluid {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
