
.App {
  text-align: center;
	background-color: #292c2f;
}

html {
  background: #02111D;  /* fallback for old browsers */
	background-color: white;
  /* background: -webkit-linear-gradient(to right, rgb(124, 124, 124), rgb(218, 218, 218), rgb(124, 124, 124));
  background: linear-gradient(to right, rgb(124, 124, 124), rgb(218, 218, 218), rgb(124, 124, 124)); */
}

.my-content {
  float: left; 
  padding: 1%; 
  margin: auto 0.3%;
  position: relative;
  text-align: center;
  width: 64% !important;
}

.my-content-landing {
  float: left; 
  padding: 1%; 
  margin: 16% 20%;
  text-align: center;
  width: 100% !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 63.5% !important;
  }
  .container-landing {
    max-width: 100% !important;
  }
}
